---
permalink: /desktop-development/
layout: service

share-image: /img/services/banner_services-768.jpg
share-description: Freshcode software engineers build desktop applications with rich functionality and smooth user experience following agile principles.
share-title: Desktop Development | Freshcode
---
<div class="serv-container height-fixed height-100 shorted width-fixed">
    <div class="main-icon-container">
        <img class="serv-icon" src="/img/desktop_dev/desktop_white_icon.svg" alt="desktop dev icon">
    </div>
    <span class="serv-h1 h1">{{ site.data.desktop-development.name }}</span>
    <div class="serv-list container-fluid">
        {% for row in site.data.desktop-development.text %}
        <div class="row serv-row">
            <div class="count col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ forloop.index }}</div>
            <div class="description-text col-xs-10 col-sm-10 col-md-10 col-lg-10">{{ row }}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="fresh-main serv-tech desktop">
    <div class="fresh-sub-block shorted width-fixed">
        <h2>TECHNOLOGY</h2>
        <div class="row serv-teches tech">
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive angular mr-a" src="/img/web_dev/angular_icon.svg" alt="angular">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive stripe ml-a" src="/img/web_dev/stripe_icon.svg" alt="stripe">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2" style="height: 60px">
                <img class="img-responsive elephant mr-a" src="/img/web_dev/elephant_icon.svg" alt="elephant">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive paypal ml-a" src="/img/web_dev/paypal_icon.svg" alt="paypal">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive upper mysql mr-a" src="/img/web_dev/mysql_icon.svg" alt="mysql">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive upper html5 ml-a" src="/img/web_dev/html5.svg" alt="html5">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive nodejs mr-a" src="/img/web_dev/node_icon.svg" alt="nodejs">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive nnm ml-a" src="/img/web_dev/nnm_icon.svg" alt="nnm">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive twilio mr-a" src="/img/web_dev/twilio_icon.svg" alt="twilio">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive css3 ml-a" src="/img/web_dev/css3_icon.svg" alt="css3">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive mongo mr-a" src="/img/web_dev/mongo_icon.svg" alt="mongo">
            </div>
            <div class="col-xs-6 col-md-2 col-lg2">
                <img class="img-responsive jquery ml-a" src="/img/web_dev/jquery_icon.svg" alt="jquery">
            </div>
        </div>
        <!--<div class="serv-button-zone">
            <a class="hire-btn serv-request-btn hire" href="">
                <div class="color-fill"></div>
                <span>Make a request</span>
            </a>
        </div>-->
    </div>
</div>


<div class="dedicated-page" style="background-color: white; margin-top: -110px;">
    <div class="post-body p-t-6rem" style="padding-top: 0">
        <h2 style="margin: 40px 0 90px 0; font-family: 'Open Middle', sans-serif;font-size: 32px;font-weight: 400; color: #333;" >Our services</h2>
    </div>
    <div class="fresh-services fresh-sub-block">
        <div class="row post-shorted services-width-fixed">
            <div class="container" style="margin: 0; padding: 1px 0 0 0; width: 100%">
                <div class="row">
                    {% for service in site.data.services.short %}
                    <a class="link" href="{{ service.link }}">
                        {% if service.link == '/desktop-development' %}
                        <div class="col-lg-4 col-sm-6 col-xs-12  dedicated-table-cell service-selected">
                            <h3 class="dedicated-h3">{{ service.name }}</h3>
                        </div>
                        {% else %}
                        <div class="col-lg-4 col-sm-6 col-xs-12  dedicated-table-cell">
                            <h3 class="dedicated-h3">{{ service.name }}</h3>
                        </div>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="fresh-services">
        <div class="serv-button-zone post-shorted services-width-fixed fresh-sub-block">
            <a class="hire-btn dedicated-book-btn mail-activator hire" href="" style="width: 225px; margin: auto;">
                <div class="color-fill"></div>
                <span style="white-space: nowrap; font-weight: 600">Make a request</span>
            </a>
        </div>
    </div>
</div>