image: docker:latest
services:
  - docker:dind
before_script:
  - docker info
stages:
  - build
job_build:
  stage: "build"
  script:
    - docker logout
    - docker login -u yevheniibilyk.freshcode@gmail.com -p blink182 registry.gitlab.com
    - docker build -t registry.gitlab.com/freshcode-projects/freshcodeit.com .
    - docker push registry.gitlab.com/freshcode-projects/freshcodeit.com