image: docker:latest
services:
  - docker:dind
before_script:
  - docker info
stages:
  - build
job_build:
  stage: "build"
  only:
    - dev
  script:
    - docker logout
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/freshcode-projects/freshcodeit.com .
    - docker push registry.gitlab.com/freshcode-projects/freshcodeit.com