# Site settings
title: Software development company | Agile Development
keywords: Freshcode, blog, software development, web development methods, outsourcing, technologies, news
description: Freshcode is a software development outsourcing company with a team of web and mobile developers who provide a wide range of services following agile methods.
email: alex.freshcode@gmail.com
baseurl: ""
url: "https://freshcodeit.com"
twitter_username: "@FreshCode1"
github_username: "Fresh-code"

# Build settings
gems:
  - jekyll-sitemap
show_drafts: false
adaptive_image:
     cache: 2592000
     srcset:
       - 1920
       - 1000
       - 600
       - 320
     sizes:
       - 1920px
       - 100vw
include:
  - _pages
exclude:
  - _assets-cache
  - build.sh
  - package.json
  - run.sh
  - Dockerfile
  - docker-compose.yml
  - CssMinify.yml
  - JsMinify.yml
  - Fresh-code.github.io.iml
  - _templates/
  - server/
  - proj-data/

  - wp-data/

markdown: kramdown
permalink: pretty

