---
permalink: /dedicated-team/
layout: service
---
<div class="dedicated-page">
	<div style="background-image: url(../img/dedicated_team/bg_noise_blue.jpg);">
		<div class="height-100 dedicated-head">
			<div style="display: table-cell;vertical-align: middle; ">
				<div class="dedic-head-container ">
					<div class="dedicated-head-img">
						<img style="margin: auto; max-width: 100%;" src="{{ site.data.dedicated-team.page-background }}" alt="{{ site.data.dedicated-team.alt }}">
					</div>
					<div class="dedicated-head-description">
						<header style="margin: auto; max-width: 700px;">

							<h1 class="fresh-h1 h1">{{ site.data.dedicated-team.name }}</h1>
							<span class="fresh-h3">{{ site.data.dedicated-team.text }}</span>
							<a class="hire-btn dedicated-book-btn mail-activator hire" href="">
								<div class="color-fill"></div>
								<span style="white-space: nowrap; font-weight: 600">Book your dedicated team</span>
							</a>
						</header>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fresh-sub-block">
		<div class="post-body">
			<div class="row post-shorted services-width-fixed">
				<h2>5 Reasons To Choose The Dedicated Team</h2>
				{% for reason in site.data.dedicated-team.reasons %}
				<div class="dedicated-block">
				{% assign loopindex = forloop.index | modulo: 2 %}
				{% if loopindex == 1 %}
					<div>
						<div class="services-paragr-image">
							<img class="hide-on-mobile" src="{{ reason.image_desktop }}" style="margin: auto;"
								 alt="{{ reason.alt }}">
							<img class="hide-on-pc" src="{{ reason.image_mobile }}" style="margin: auto;"
								 alt="{{ reason.alt }}">
						</div>
						<div class="dedicated-description padd-left">
							<h3>{{ reason.header }}</h3>
							<p style="margin: auto">{{ reason.text }}</p>
						</div>
					</div>
				{% else %}
					<div class="dedicated-picture-up">
						<div class="dedicated-description padd-right">
							<h3>{{ reason.header }}</h3>
							<p style="margin: auto">{{ reason.text }}</p>
						</div>
						<div class="services-paragr-image">
							<img class="hide-on-mobile" src="{{ reason.image_desktop }}" style="margin: auto;"
								 alt="{{ reason.alt }}">
							<img class="hide-on-pc" src="{{ reason.image_mobile }}" style="margin: auto;"
								 alt="{{ reason.alt }}">
						</div>
					</div>
				{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="post-body">
		<h2 id="dedic_h2_works" class="c-h2-link" style="margin: 20px 0 50px 0;">Related Works<a href="/portfolio" class="main-link"><span class="service-icon"></span></a></h2>
	</div>
	<div class="row flex-box stretch">
		<div class="flex-item">
			<div class="col-xxs col-xs-6 col-sm-3 col-md-3 col-lg-3 no-padding cube preview-img description no-padding-m"
				 style="background: {{ site.data.dedicated-team.works[0].mainColor }} !important;">
				<a href="{{ site.data.dedicated-team.works[0].link }}">
					{% adaptive_image {{ site.data.dedicated-team.works[0].cover }} size="500 350" sizes="min 1400 500;max 1399 350" draggable="false" class="img-responsive" alt="{{ site.data.dedicated-team.works[0].alt }}" title="preview image" %}
					<div class="cover caption absolute" style="background: {{ site.data.dedicated-team.works[0].mainColor }} !important;">
						<h3>{{ site.data.dedicated-team.works[0].title }}</h3>
						<p>{{ site.data.dedicated-team.works[0].description }}</p>
					</div>
				</a>
			</div>
			<div class="col-xxs col-xs-6 col-sm-3 col-md-3 col-lg-3 no-padding cube preview-img description no-padding-m"
				 style="background: {{ site.data.dedicated-team.works[1].mainColor }} !important;">
				<a href="{{ site.data.dedicated-team.works[4].link }}">
					{% adaptive_image {{ site.data.dedicated-team.works[4].cover }} size="500 350" sizes="min 1400 500;max 1399 350" draggable="false" class="img-responsive" alt="{{ site.data.dedicated-team.works[4].alt }}" title="preview image" %}
					<div class="cover caption absolute" style="background:  {{ site.data.dedicated-team.works[1].mainColor }} !important;">
						<h3>{{ site.data.dedicated-team.works[4].title }}</h3>
						<p>{{ site.data.dedicated-team.works[4].description }}</p>
					</div>
				</a>
			</div>
			<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs no-padding cube preview-img description no-padding-m"
				 style="background: {{ site.data.dedicated-team.works[2].mainColor }} !important;">
				<a href="{{ site.data.dedicated-team.works[2].link }}">
					{% adaptive_image {{ site.data.dedicated-team.works[2].cover }} size="1000 700" sizes="min 1400 1000;max 1399 700" draggable="false" class="img-responsive" alt="{{ site.data.dedicated-team.works[2].alt }}" title="preview image" %}
					<div class="cover caption absolute" style="background:  {{ site.data.dedicated-team.works[2].mainColor }} !important;">
						<h3>{{ site.data.dedicated-team.works[2].title }}</h3>
						<p>{{ site.data.dedicated-team.works[2].description }}</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="post-body p-t-6rem">
		<h2 style="margin: 40px 0 50px 0;">Our services</h2>
	</div>
	<div class="fresh-services fresh-sub-block">
		<div class="row post-shorted services-width-fixed">
			<div class="container" style="margin: 0; padding: 1px 0 0 0; width: 100%">
				<div class="row">
					{% for service in site.data.services.short %}
					<a class="link" href="{{ service.link }}">
						{% if service.link == '/dedicated-team' %}
						<div class="col-lg-4 col-sm-6 col-xs-12  dedicated-table-cell service-selected">
							<h3 class="dedicated-h3">{{ service.name }}</h3>
						</div>
						{% else %}
						<div class="col-lg-4 col-sm-6 col-xs-12  dedicated-table-cell">
							<h3 class="dedicated-h3">{{ service.name }}</h3>
						</div>
						{% endif %}
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="fresh-services">
		<div class="serv-button-zone post-shorted services-width-fixed fresh-sub-block">
			<a class="hire-btn dedicated-book-btn mail-activator hire" href="" style="margin: auto;">
				<div class="color-fill"></div>
				<span style="white-space: nowrap; font-weight: 600">Book your dedicated team</span>
			</a>
		</div>
	</div>
</div>
