---
permalink: /
layout: default

title: Software development company | Freshcode
keywords: FreshCode, web development company, software development, mobile app development company, web developers, mobile developers
description: Freshcode is a software development outsourcing company with a team of professional web and mobile developers who provide a wide range of services following agile methods.
share-image: /img/main/banner_main-768.jpg
share-description: Freshcode is a software development outsourcing company with a team of professional web and mobile developers who provide a wide range of services following agile methods.
share-title: Freshcode
---

    <div class="section height-fixed height-100 padding-top padding-bottom">
        <div class="image-background bleed image-container parallax-section">
            {% adaptive_image {{ site.data.main.background }} size="1920 1024 768" sizes="min 1000 1920;min 600 1024;max 599 768" draggable="false" class="image" alt="{{ site.data.main.alt }}" title="Freshcode background" %}
        </div>
        <div class="container main parallax-text">
            <div class="row row-equal-columns">
                <div class="column align-center">
                    <div class="flex flex-middle">
                        <div class="flex-inner">
                            <div class="block block-text width-fixed">
                                <header>
                                    <h1 class="fresh-h1 h1">{{ site.data.main.name }}</h1>
                                    <span class="fresh-h3 centered">{{ site.data.main.text }}</span>
                                    <a class="hire-btn light hire" href="">
                                        <div class="color-fill"></div>
                                        <span>Hire us</span>
                                    </a>
                                </header>
                            </div>
                        </div> <!-- flex-inner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fresh-main main section-outer">
        <div class="fresh-sub-block">
            <h2 class="h2-outer c-h2-link">Services <a href="/services" class="main-link"><span class="service-icon"></span></a></h2>
            <div class="row shorted width-fixed">
                {% for service in site.data.main.services %}
                {% assign loopindex = forloop.index | modulo: 2 %}
                {% if loopindex == 1 %}
                <div class="row">
                    <div class="media fresh-container no-padding">
                        <div class="media-left preview-block services-icon">
                            <img class="img-responsive" src="/img/{{ service.icon }}" alt="{{ service.name }} icon">
                        </div>
                        <div class="description media-body">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.text }}</p>
                            <a class="link" href="{{ service.link }}">
                                <div class="color-fill"></div>
                                <span>{{ service.btntext }}</span>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="media fresh-container no-padding">
                        <div class="media-left preview-block services-icon">
                            <img class="img-responsive" src="/img/{{ service.icon }}" alt="{{ service.name }} icon">
                        </div>
                        <div class="description media-body">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.text }}</p>
                            <a class="link" href="{{ service.link }}">
                                <div class="color-fill"></div>
                                <span>{{ service.btntext }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div><!--Services-->
    <div class="fresh-main works-section"><!-- Our works  -->
        <div class="fresh-sub-block no-padding">
            <h2 class="c-h2-link">Our works <a href="/portfolio" class="main-link"><span class="service-icon"></span></a></h2>
            <div class="row flex-box stretch">
                <div class="flex-item">
                    <div class="col-xxs col-xs-6 col-sm-3 col-md-3 col-lg-3 no-padding cube preview-img description no-padding-m"
                         style="background: {{ site.data.main.works[0].mainColor }} !important;">
                        <a href="{{ site.data.main.works[0].link }}">
                            {% adaptive_image {{ site.data.main.works[0].cover }} size="500 350" sizes="min 1400 500;max 1399 350" draggable="false" class="img-responsive" alt="{{ site.data.main.works[0].alt }}" title="preview image" %}
                            <div class="cover caption absolute" style="background: {{ site.data.main.works[0].mainColor }} !important;">
                                <h3>{{ site.data.main.works[0].title }}</h3>
                                <p>{{ site.data.main.works[0].description }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs col-xs-6 col-sm-3 col-md-3 col-lg-3 no-padding cube preview-img description no-padding-m"
                         style="background: {{ site.data.main.works[1].mainColor }} !important;">
                        <a href="{{ site.data.main.works[1].link }}">
                            {% adaptive_image {{ site.data.main.works[1].cover }} size="500 350" sizes="min 1400 500;max 1399 350" draggable="false" class="img-responsive" alt="{{ site.data.main.works[1].alt }}" title="preview image" %}
                            <div class="cover caption absolute" style="background:  {{ site.data.main.works[1].mainColor }} !important;">
                                <h3>{{ site.data.main.works[1].title }}</h3>
                                <p>{{ site.data.main.works[1].description }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs no-padding cube preview-img description no-padding-m"
                         style="background: {{ site.data.main.works[2].mainColor }} !important;">
                        <a href="{{ site.data.main.works[2].link }}">
                            {% adaptive_image {{ site.data.main.works[2].cover }} size="1000 700" sizes="min 1400 1000;max 1399 700" draggable="false" class="img-responsive" alt="{{ site.data.main.works[2].alt }}" title="preview image" %}
                            <div class="cover caption absolute" style="background:  {{ site.data.main.works[2].mainColor }} !important;">
                                <h3>{{ site.data.main.works[2].title }}</h3>
                                <p>{{ site.data.main.works[2].description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="col-xxs col-xs-6 col-sm-3 col-md-3 col-lg-3 no-padding cube preview-img description no-padding-m"
                         style="background: {{ site.data.main.works[3].mainColor }} !important;">
                        <a href="{{ site.data.main.works[3].link }}">
                            {% adaptive_image {{ site.data.main.works[3].cover }} size="500 350" sizes="min 1400 500;max 1399 350" draggable="false" class="img-responsive" alt="{{ site.data.main.works[3].alt }}" title="preview image" %}
                            <div class="cover caption absolute" style="background: {{ site.data.main.works[3].mainColor }} !important;">
                                <h3>{{ site.data.main.works[3].title }}</h3>
                                <p>{{ site.data.main.works[3].description }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-6 hidden-xs no-padding cube preview-img description no-padding-m"
                         style="background: {{ site.data.main.works[4].mainColor }} !important;">
                        <a href="{{ site.data.main.works[4].link }}">
                            {% adaptive_image {{ site.data.main.works[4].cover }} size="1000 700" sizes="min 1400 1000;max 1399 700" draggable="false" class="img-responsive" alt="{{ site.data.main.works[4].alt }}" title="preview image" %}
                            <div class="cover caption absolute" style="background:  {{ site.data.main.works[4].mainColor }} !important;">
                                <h3>{{ site.data.main.works[4].title }}</h3>
                                <p>{{ site.data.main.works[4].description }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxs col-xs-6 col-sm-3 col-md-3 col-lg-3 no-padding cube preview-img description no-padding-m"
                         style="background: {{ site.data.main.works[5].mainColor }} !important;">
                        <a href="{{ site.data.main.works[5].link }}">
                            {% adaptive_image {{ site.data.main.works[5].cover }} size="500 350" sizes="min 1400 500;max 1399 350" draggable="false" class="img-responsive" alt="{{ site.data.main.works[5].alt }}" title="preview image" %}
                            <div class="cover caption absolute" style="background:  {{ site.data.main.works[5].mainColor }} !important;">
                                <h3>{{ site.data.main.works[5].title }}</h3>
                                <p>{{ site.data.main.works[5].description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Our works  -->
    <!-- Testimonial -->
    <div class="fresh-main testimonial-block section-outer">
        <div class="fresh-sub-block no-padding width-fixed">
            <h2 class="h2-outer c-h2-link">Testimonials <a href="/testimonials" class="main-link"><span class="service-icon"></span></a></h2>
            <div class="row shorted" id="testimonials-main">
                {% for testimonial in site.data.testimonials.short %}
                <div class="col-xxs col-xs-12 col-sm-12 col-md-6 testimonial-main">
                    <div class="testi-main">
                        <div class="testimonial-img">
                            <img class="img-responsive img-circle" src="{{ testimonial.photo }}" alt="{{ testimonial.alt }}">
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12 testimonial-writings">
                            <div class="testi-credit">
                                <span class="testi-name">{{ testimonial.author }}</span>
                                <span class="testi-company">{{ testimonial.company }}</span>
                            </div>
                            <p class="testimonial-text">{{ testimonial.text }}</p>
                            <div class="description">
                                <a class="link" href="{{ testimonial.link }}">
                                    <div class="color-fill"></div>
                                    <span>View Case Study</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Fresh blog post -->
    <div class="fresh-main blog section-outer m--t-7rem">
        <div class="fresh-sub-block no-padding">
            <h2 class="h2-outer c-h2-link">FRESH BLOG POST <a href="/blog" class="main-link"><span class="service-icon"></span></a></h2>
            <div class="row">
                {% for post in site.posts limit:3 %}
                <div class="col-xxs col-xs-6 col-sm-4 col-md-4 col-lg-4 preview-img no-padding {% if forloop.index == 1 %}hidden-xs{% endif %}">
                    <a href="{{ post.permalink }}">
                        <div class="description blog" style="background: {{ post.background-cover }} !important;">
                            <img draggable="false" class="img-responsive" alt="{{ post.alt }}" title="preview image" src="{{ post.cover }}"
                                 srcset="{{ post.srcsetattr }}" sizes="{{ post.sizeattr }}">
                            <div class="bckg-cover" style="background: {{ post.background-cover }} !important;"></div>
                            <div class="cover">
                                <h3>{{ post.post-title }}</h3>
                                <span class="date">{{ post.categories-tag }}  |  {{ post.author }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- The team -->
    <div class="fresh-main team-section section-outer">
        <div class="no-padding the-team width-fixed">
            <div class="row shorted">
                <h2 class="block-header">{{ site.data.main.team.title }}</h2>
                <span class="team-desc">{{ site.data.main.team.description }}</span>
                <div class="flex-box">
                    <div class="team-statistics">
                        {% for item in site.data.main.team.info %}
                        {% assign loopindex = forloop.index | modulo: 2 %}
                        {% if loopindex == 1 %}
                        <div class="flex-box-row">
                            <div class="flex-item">
                                <div class="achiev-icon">
                                    <img draggable="false" alt="{{ item.alt }}" title="{{ item.desc }}" src="{{ item.ico }}">
                                </div>
                                <div class="achiev-data">
                                    <span class="count">{{ item.val }}</span>
                                    <span class="count-lable ">{{ item.desc }}</span>
                                </div>
                            </div>
                            {% else %}
                            <div class="flex-item">
                                <div class="achiev-icon">
                                    <img draggable="false" alt="{{ item.alt }}" title="{{ item.desc }}" src="{{ item.ico }}">
                                </div>
                                <div class="achiev-data">
                                    <span class="count">{{ item.val }}</span>
                                    <span class="count-lable ">{{ item.desc }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="description team-container row" style="display: none">
                            <div class="all-team">
                                <a class="link team" href="/team">
                                    <div class="color-fill"></div>
                                    <span>Show All team</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>