---
permalink: /maintenance/
layout: service

share-image: /img/services/banner_services-768.jpg
share-description: Freshcode offers efficient maintenance at any stage of the project development and optimization. Keep your project updated with Freshcode.
share-title: Freshcode Maintenance
---
<div class="serv-container height-fixed height-100 shorted width-fixed">
    <div class="main-icon-container">
        <img class="serv-icon" src="/img/maintenance/maintenance_white_icon.png" alt="maintenance icon">
    </div>
    <h1 class="serv-h1 h1">{{ site.data.maintenance.name }}</h1>
    <div class="serv-list container-fluid">
        {% for row in site.data.maintenance.text %}
        <div class="row serv-row">
            <div class="count col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ forloop.index }}</div>
            <div class="description-text col-xs-10 col-sm-10 col-md-10 col-lg-10">{{ row }}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="fresh-main serv-tech">
    <div class="fresh-sub-block shorted width-fixed">
        <div class="row serv-teches">
            <p class="serv-p">{{ site.data.maintenance.bottext }}</p>
        </div>
        <!--<div class="serv-button-zone">
            <a class="hire-btn serv-request-btn hire" href="">
                <div class="color-fill"></div>
                <span>Make a request</span>
            </a>
        </div>-->
    </div>
</div>



<div class="dedicated-page" style="background-color: white; ">
    <div class="post-body p-t-6rem" style="padding-top: 60px">
        <h2 style="margin: 40px 0 90px 0; font-family: 'Open Middle', sans-serif;font-size: 32px;font-weight: 400; color: #333;" >Our services</h2>
    </div>
    <div class="fresh-services fresh-sub-block">
        <div class="row post-shorted services-width-fixed">
            <div class="container" style="margin: 0; padding: 1px 0 0 0; width: 100%">
                <div class="row">
                    {% for service in site.data.services.short %}
                    <a class="link" href="{{ service.link }}">
                        {% if service.link == '/maintenance' %}
                        <div class="col-lg-4 col-sm-6 col-xs-12  dedicated-table-cell service-selected">
                            <h3 class="dedicated-h3">{{ service.name }}</h3>
                        </div>
                        {% else %}
                        <div class="col-lg-4 col-sm-6 col-xs-12  dedicated-table-cell">
                            <h3 class="dedicated-h3">{{ service.name }}</h3>
                        </div>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="fresh-services">
        <div class="serv-button-zone post-shorted services-width-fixed fresh-sub-block">
            <a class="hire-btn dedicated-book-btn mail-activator hire" href="" style="width: 225px; margin: auto;">
                <div class="color-fill"></div>
                <span style="white-space: nowrap; font-weight: 600">Make a request</span>
            </a>
        </div>
    </div>
</div>