---
permalink: /our-approach/
layout: default

title: Our Approach to Software Development | Freshcode
keywords: Freshcode approach, agile methods, agile web development
description: Freshcode developers abide Agile methods to make the process of web development as smooth as possible.

share-image: /img/our_approach/banner_approach-768.jpg
share-description: Freshcode developers abide Agile methods to make the process of web development as smooth as possible.
share-title: Our Approach to Software Development | Freshcode
---
<div class="section height-fixed height-100 padding-top padding-bottom row-single">
    <div class="image-background bleed parallax-section">
        {% adaptive_image /img/{{ site.data.our-approach.background }} size="1920 1024 768" sizes="min 1000 1920;min 600 1024;max 599 768" draggable="false" class="image" alt="{{ site.data.our-approach.alt}}" title="Approachbackground" %}
    </div>
    <div class="container parallax-text">
        <div class="row row-equal-columns">
            <div class="column a-center">
                <div class="flex flex-middle">
                    <div class="flex-inner">
                        <div class="block block-text width-fixed">
                            <header>
                                <h1 class="fresh-h1 h1">{{ site.data.our-approach.name }}</h1>
                                <span class="fresh-h3 centered">{{ site.data.our-approach.text }}</span>
                            </header>
                        </div>
                    </div> <!-- flex-inner -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fresh-approach">
    <div class="fresh-sub-block">
        <div class="row shorted width-fixed">
            {% for approach in site.data.our-approach.short %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 1 %}
            <div class="row">
                <div class="media fresh-container no-padding">
                    <div class="media-left preview-block services-icon">
                        <img class="img-responsive" src="/img/{{ approach.icon }}" alt="{{ approach.alt }}">
                    </div>
                    <div class="description media-body approach-h2">
                        <h2>{{ approach.name }}</h2>
                        <p>{{ approach.text }}</p>
                    </div>
                </div>
                {% else %}
                <div class="media fresh-container no-padding">
                    <div class="media-left preview-block services-icon">
                        <img class="img-responsive" src="/img/{{ approach.icon }}" alt="{{ approach.alt }}">
                    </div>
                    <div class="description media-body approach-h2">
                        <h2>{{ approach.name }}</h2>
                        <p>{{ approach.text }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="serv serv-button-zone">
                <a class="hire-btn serv-request-btn hire" href="">
                    <div class="color-fill"></div>
                    <span>Make a request</span>
                </a>
            </div>
        </div>
    </div>
</div>