<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% assign url = page.url | replace:'/','' %}
    <meta property="og:url"           content="{{ site.url }}{{ page.url }}">
    <meta property="og:type"          content="article">
    <meta property="fb:app_id"        content="1077965352288016" />
    <meta property="og:title"         content="{{ page.share-title }}">
    <meta property="og:description"   content="{{ page.share-description }}">
    <meta property="og:image"         content="{{ site.url }}{{ page.share-image }}">
    <meta property="og:image:width"   content="644">
    <meta property="og:image:height"  content="428">
    <meta name="twitter:card"         content="summary_large_image">
    <meta name="twitter:site"         content="{{ site.twitter_username }}">
    <meta name="twitter:creator"      content="{{ site.twitter_username }}">
    <meta name="twitter:title"        content="{{ page.share-title }}">
    <meta name="twitter:description"  content="{{ page.share-description }}">
    {% if page.layout == 'post' %}
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>
    {% else %}
    <meta name="description" content="{% if site.data[url].description %}{{ site.data[url].description }}{% elsif site.data.center-layout[url].description %}{{ site.data.center-layout[url].description }}{% elsif site.data.right-side-layout[url].description %}{{ site.data.right-side-layout[url].description }}{% else %}{{ site.data['main'].description }}{% endif %}">
    <title>{% if site.data[url].title%}{{ site.data[url].title }}{% elsif site.data.center-layout[url].title%}{{ site.data.center-layout[url].title }}{% elsif site.data.right-side-layout[url].title%}{{ site.data.right-side-layout[url].title }}{% else %}{{ site.data['main'].title }}{% endif %}</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="{% minified_css_file %}">
    <meta name="google-site-verification" content="Bo50iSYxf-Z02y9uxdaBhCDCqZtqd-eTcf6ZcmaImxM" />
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "name": "Freshcode",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}/img/logo_dark.svg",
      "image": "{{ site.url }}/img/logo_dark.svg",
      "description": "{{ site.data['main'].description }}",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Zaporizhzhya",
        "addressCountry": "Ukraine"
      },
      "email" : "alex@freshcodeit.com",
      "sameAs": [
            "{{ site.data.main.social.linked }}",
            "{{ site.data.main.social.facebook }}",
            "{{ site.data.main.social.twitter }}",
            "{{ site.data.main.social.google }}",
            "{{ site.data.main.social.github }}",
            "{{ site.data.main.social.bitbucket }}"
      ]
    }
    </script>
</head>


