<div class="site-header-slice__fixer">
    <h1 class="display-none">{% if site.data[url].page_title%}{{ site.data[url].page_title }}{% elsif site.data[url].page-title%}{{ site.data[url].page-title }}{% elsif site.data[url].name%}{{ site.data[url].name }}{% elsif site.data.center-layout[url].client%}{{ site.data.center-layout[url].client }}{% elsif site.data.right-side-layout[url].name%}{{ site.data.right-side-layout[url].name }}{% elsif page.layout == 'post' %}{{ page.post-title }}{% else %}{{ site.data['main'].name }}{% endif %}</h1>
    <div class="site-header-slice__background-2"></div>
    <div class="main-nav-block">
        <nav>
            <ul class="main-nav-menu">
                <li><a href="/services">Services</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/our-approach">Our approach</a></li>
                <li class="description">
                    <a class="link hire" href="">
                        <div class="color-fill"></div>
                        <span>Hire us</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mail-popup-block">
        <div id="one">
            <div class="form-header">
                <span class="fresh-h1 h1">WE OFFER A FREE CONSULTATION</span>
            </div>
            <form class="material-form hire-us-form" data-parsley-validate>
                <div class="row material-box">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="material-input"
                               name="name"
                               type="text"
                               placeholder="Your Name*"
                               autocomplete="off"
                               data-parsley-trigger="change"
                               data-parsley-required-message="Enter your name"
                               required>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="material-input"
                               name="email"
                               type="email"
                               placeholder="Your Email*"
                               pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                               autocomplete="off"
                               data-parsley-trigger="change"
                               data-parsley-required-message="Enter your email"
                               required>
                    </div>
                </div>
                <div class="row material-box">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="material-input"
                               name="subject"
                               type="text"
                               placeholder="Subject"
                               autocomplete="off"
                               data-parsley-trigger="change"
                               data-parsley-required-message="Enter subject"
                               required>
                    </div>
                </div>
                <div class="row material-box">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="material-input"
                               name="message"
                               type="text"
                               autocomplete="off"
                               placeholder="Your Message*"
                               data-parsley-required-message="Enter your message"
                               data-parsley-trigger="change"
                               required>
                    </div>
                </div>
                <div class="description submit-block">
                    <div class="hire-btn button">
                        <button type="submit" onClick="_gaq.push(['_trackEvent','button', 'submit', 'hire us']);"
                                class="free-cons-button"></button>
                        <div class="color-fill"></div>
                        <span>Submit</span>
                    </div>
                </div>
            </form>
        </div>

        <div id="two" style="display: none">
            <div class="thx-header">
                <span class="fresh-h1 h1">{{ site.data.thank.header-text }}</span>
            </div>
            <div class="thx-block">
                <div class="row material-box">
                    <span class="fresh-h3 h3">{{ site.data.thank.text }}</span>
                </div>
            </div>
            <div class="thx-block">
                <div class="row">
                    <div class="thx-l-b">
                        <div class="thx-a-s w-50">
                            <div class="thx-a-s-c">
                                <div class="thx-box">
                                    <img src="/img/thank_you/icon_portfolio.png" alt="suitcase">
                                    <p>visit our portfolio</p>
                                    <div class="description">
                                        <a class="link" href="/portfolio">
                                            <div class="color-fill"></div>
                                            <span>portfolio</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="thx-a-s-c">
                                <div class="thx-box">
                                    <img src="/img/thank_you/icon_blog.png" alt="comic cloud">
                                    <p>visit our blog</p>
                                    <div class="description">
                                        <a class="link" href="/blog">
                                            <div class="color-fill"></div>
                                            <span>blog</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thx-a-s w-50">
                            <div class="v-line"></div>
                            <div class="row">
                                <div class="thx-box social">
                                    <p>follow us on social networks</p>
                                    <div class="row thx-a-c">
                                        <div class="s-i-top">
                                            <a href="{{ site.data.main.social.linked }}" target="_blank"><img
                                                    src="/img/thank_you/icon_linkedin.png" alt="linked in"></a>
                                            <a href="{{ site.data.main.social.facebook }}" target="_blank"><img
                                                    src="/img/thank_you/icon_facebook.png" alt="facebook"></a>
                                            <a href="{{ site.data.main.social.twitter }}" target="_blank"><img
                                                    src="/img/thank_you/icon_twitter.png" alt="twitter"></a>
                                        </div>
                                        <div class="s-i-bot">
                                            <a href="{{ site.data.main.social.google }}" target="_blank"><img
                                                    src="/img/thank_you/icon_g_pus.png" alt="google plus"></a>
                                            <a href="{{ site.data.main.social.github }}" target="_blank"><img
                                                    src="/img/thank_you/icon_github.png" alt="github"></a>
                                            <a href="{{ site.data.main.social.bitbucket }}" target="_blank"><img
                                                    src="/img/thank_you/icon_bit_bucket.png" alt="bitbucket"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
