<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include shares.html %}
{% include menu.html %}
{% include logo.html %}
<main>
    <div id="main-section">
        <div class="section height-fixed height-100 padding-top padding-bottom blog-post">
            <!--parallax images-->
            {% if page.par_background_0 %}

                {% if page.mobile_background %}
                    <div class="image-background bleed show-img-on-mobile">
                        <img src="{{ page.mobile_background }}" alt="Blog post background" />
                    </div>
                {% else %}
                    <div class="image-background bleed parallax-section">
                        {% adaptive_image {{ page.background }} size="768" sizes="max 599 768" draggable="false" class="image" alt="{{ page.alt }}" title="Blog post background" %}
                    </div>
                {% endif %}

                <div class="image-background bleed parallax-section_0 hide-img-on-mobile">
                    {% adaptive_image {{ page.par_background_0 }} size="1920" sizes="min 1000 1920" draggable="false" class="image" alt="{{ page.alt }}" title="Blog post background" %}
                </div>
                <div class="image-background bleed parallax-section_1 hide-img-on-mobile">
                    {% adaptive_image {{ page.par_background_1 }} size="1920" sizes="min 1000 1920" draggable="false" class="image" alt="{{ page.alt }}" title="Blog post background" %}
                </div>
                <div class="image-background bleed parallax-section_2 hide-img-on-mobile">
                    {% adaptive_image {{ page.par_background_2 }} size="1920" sizes="min 1000 1920" draggable="false" class="image" alt="{{ page.alt }}" title="Blog post background" %}
                </div>
            <!--ordinary image-->
            {% elsif page.mobile_background %}
                <div class="image-background bleed parallax-section hide-img-on-mobile">
                    {% adaptive_image {{ page.background }} size="1920 1024 768" sizes="min 1000 1920;min 600 1024;max 599 768" draggable="false" class="image" alt="{{ page.alt }}" title="Blog post background" %}
                </div>
                <div class="image-background bleed parallax-section show-img-on-mobile">
                    <img src="{{ page.mobile_background }}" alt="Blog post background" />
                </div>
            {% else %}
                <div class="image-background bleed parallax-section">
                    {% adaptive_image {{ page.background }} size="1920 1024 768" sizes="min 1000 1920;min 600 1024;max 599 768" draggable="false" class="image" alt="Blog post background" title="Blog post background" %}
                </div>
            {% endif %}

            <div class="post-titling paralax-text">
                <div class="fresh-sub-block">
                    <div class="row post-shorted padding-bottom width-fixed">
                        <div class="category-tag">{{ page.categories-tag }}</div>
                        <span class="h1">{{ page.post-title }}</span>
                        <div class="meta">{{ page.date | date: '%B %d, %Y' }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-post-body">
            <div class="fresh-sub-block">
                <div class="row post-shorted width-fixed">
                    <div class="row p-t-6rem author-block">
                        <div class="col-md-12">
                            <div class="avatar-wrapper">
                                <img class="avatar" src="{{ page.avatar }}" alt="{{ page.author }}">
                            </div>
                            <div class="post-author">
                                <div class="author-name">{{ page.author }}</div>
                                <div class="author-position">{{ page.position }}</div>
                            </div>
                        </div>
                    </div>

                    {{ content }}

                    <div class="social-btns">
                        <a target="_blank"
                           href="https://twitter.com/intent/tweet?text={{ page.share-title }}&url={{ site.url }}{{ page.url }}"
                           data-via="FreshCode1" data-related="FreshCode1">
                            <div class="social-btn twitter-btn">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </a>
                        <a target="_blank" data-mobile-iframe="true"
                           href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}">
                            <div class="social-btn facebook-btn">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </a>
                        <a target="_blank" data-mobile-iframe="true"
                           href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}">
                            <div class="social-btn linkedin-btn">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                    {% include recent-posts.html %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}
</body>
</html>